.container{
    display: flex;
    flex-direction: column;
}

.form-group{
    margin-right: 2rem;
}

.card{
    width: fit-content;
}

button{
    margin-top: 1rem;
}

.mat-form-field{
    width: 250px;
}


.country-selector{
    opacity:1 !important;
    bottom:8px !important;
  }
  
  input:not(.country-search){
    bottom: 3px;
    left: 10px;
  }
  
  .country-list-button{
    font-size: 0.8rem!important;
  }
  
  .mat-menu-content:not(:empty){
    max-height:250px;
  }
     
  .m-t-10{
    margin-top:10px;
  }
  
  .error{
    color:red;
  }